<!DOCTYPE html>
<html>
  <head>
    <title>Money</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <table class="" border="3px">
      <tr>
        <th>S.N</th>
        <th>Expense</th>
        <th>Amount</th>
        <th>isSaved</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Mahr</td>
        <td>80K EGP = 500KD</td>
        <td>No</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Legal</td>
        <td>20K EGP = 125KD</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Gold</td>
        <td>30K EGP = 190KD</td>
        <td>No</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Dress</td>
        <td>10K EGP = 62KD</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Cars</td>
        <td>10K EGP = 62KD</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>6</td>
        <td>PhotoSession</td>
        <td>5K EGP = 31KD</td>
        <td>No</td>
      </tr>
      <tr>
        <td>7</td>
        <td>MakeUpArtist</td>
        <td>10K EGP = 62KD</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>8</td>
        <td>MySuit</td>
        <td>10K EGP = 62KD</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Clothes For family</td>
        <td>15K EGP = 95KD</td>
        <td>Noooooooooo</td>
      </tr>
      <tr>
        <td>10</td>
        <td>SpendingMoney</td>
        <td>100K EGP = 620KD</td>
        <td>Noooooooooo</td>
      </tr>

      <tr>
        <td>#</td>
        <td>Total</td>
        <td>290K EGP = 1809KD</td>
        <td>Noooooooooo</td>
      </tr>
      <tr>
        <td>##</td>
        <td>Saved</td>
        <td>64.5K EGP = 400KD</td>
        <td>Yesssssss</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Hair Transplant</td>
        <td>100K EGP = 620KD</td>
        <td>Noooooooooo</td>
      </tr>
      <tr>
        <td>12</td>
        <td>55" Televesion</td>
        <td>19.2K EGP = 119KD</td>
        <td>No</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Sharp A.C</td>
        <td>26K EGP = 161KD</td>
        <td>No</td>
      </tr>
    </table>

    <script type="text/javascript" src="colorGame.js"></script>
  </body>
</html>
