<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="styles.css" rel="stylesheet" />
  <title>Porn Library</title>
</head>

<body>
  <nav class="flex bg-gray-800 w-full text-gray-200">
    <div class="hero ml-20 flex">
      <a href="../index.html" class="p-4">
        <h1 class="text-xl">MY HUB</h1>
      </a>
      <a href="PornLib.html" class="p-4">
        <h2 class="text-xl">Porn Library</h2>
      </a>
    </div>
  </nav>
  <main class="w-10/12 m-auto">
    <div class="gallery m-8 flex flex-wrap justify-around gap-1">
      <div class="flex max-w-lg rounded-md">
        <video controls autoplay muted class="rounded-lg">
          <source src="/Assets/Test.mp4" />
        </video>
      </div>
      <div class="flex max-w-lg">
        <video controls autoplay muted class="rounded-lg">
          <source src=" file:E:/Porn/1.mp4" />
        </video>
      </div>

    </div>

  </main>
  <script src="../script.js"></script>
</body>

</html>